* {
  margin: 0;
  padding: 0;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

html, body {
    overflow: hidden;
    position: relative;
}

body {
  background: #eee;
  /* background: linear-gradient(180deg, #f72585, #e94cb3, #cf6dd9, #aa88f3, #819eff, #59b0ff, #41befc, #4cc9f0); */
  background: linear-gradient(180deg, #d6e6f8,  #ffffff);
}

.container {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.container canvas {
  position: absolute;
}

.control-helper {
  position: absolute;
  width: 10px;
  height:10px;
  background: red;
  z-index: 10;
}

#control-helper-1 {
  background: blue;
}

#control-helper-2 {
  background: orange;
}

#control-helper-3 {
  background: green;
}

#control-helper-4 {
  background: pink;
}
